 @import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}
.nav-bg {
    background-color: #fdffff ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.item {
    color:#fff;
}
body {
    background-color: #fff;
    font-family: 'Brygada 1918', serif;
    
}

.number {
    font-family: 'Brygada 1918', serif;
    font-size:15px;
    color:#fff;
}
.logo {
    height:50px;
    width:150px;
}
.hero-background {
    background-image:url("/Hero-img/hero-bg.jpg");
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.hero-background h1 {
    font-size:50px;
    color:#fff;
    font-weight: bold;
}
.hero-background h4 {
    font-size:20px;
    color:#F28123;
    letter-spacing:8px;
}
.style {
    font-size:30px;
    color:rgb(247, 12, 12);
    font-weight: bold;
}
 
.border {
    border:1px solid#000;
    background-color: #fff;

}
.item-img {
    height:300px;
}
.button {
    margin-bottom:-20px;
}
.boxed-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #F28123;
    color: #fff;
    padding: 10px 30px;
    border-radius: 100px;
    border: 3px solid #f28123;
}

.border-btn {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    border:3px solid #F28123;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 100px;
}

a.border-btn:hover {
    background-color:#f28123;
    color:#fff;
    text-decoration: none;
}
a.boxed-btn:hover {
    background-color: transparent;
    color:#fff;
    text-decoration: none;
}
.card-btn:hover {
    background-color: transparent;
    color:#f28123;
    text-decoration: none;   
}
h3 {
    font-family:'Brygada 1918', serif;
    font-size:20px;
    font-weight: 700;
}
p {
    font-family:'Brygada 1918', serif;
    font-size:15px;
    color:hwb(0 63% 37%)
}
.back {
    background-color: #f5f5f5;
}
.div {
    margin-top: 100px;
}
.style {
    color:#F28123;
    font-size: 25px;
}
.pro-head {
    font-family: 'Brygada 1918', serif;
    font-size:25px;
    font-weight:700;
    color:#000;
    text-decoration:underline;
}
.para {
    font-family: 'Brygada 1918', serif;
    font-size:18px;
    color:darkcyan;
}
.bord-img {
    border-style:dotted;
    border-radius:50px;
    height:60px;
    width:60px;
    padding:5px;
    border-color:#F28123;
}
.cheri {
    width:200px;
    height:200px;
}
.amount {
    font-weight: bold;
    font-size:25px;
    color:#000;
}
.milk-cheri {
    width:100%;
    margin-top: 70px;
}
.style-2 {
    font-size:40px;
    font-weight: 0;
    font-family: "Poppins", sans-serif;
}
.para-1 {
    font-family: "Poppins", sans-serif;
    font-size:15px;
    color: #000;
}
.milk-card {
    margin-top:150px;
    text-align: center;
}
.box-border {
    border:2px solid#f28123;
    width:80px;
    height:80px;
    margin:10px;
}

.zero {
    color:#f28123;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
.days {
    font-family:roboto;
    font-size:20px;
    color:#000;
    text-align:center;
    height: 1em;
}
.clip {
    border-radius: 50%;
    height:180px;
    width:180px;
    margin-bottom: 180px;
    margin-top: 70px;
}
h5 {
    font-size:14px;
    font-family: "Poppins", sans-serif;
    color:cadetblue;
    font-weight:bold;
}
.photo-para {
    font-style: italic;
    color:#999;
    padding-top:20px;
}
.fru-style {
    color:#f28123;
    font-weight:bold;
    font-size: 35px;
}
.fru {
  font-family: "Poppins", sans-serif;
   font-size: 30px;
   color:#051922;
   font-weight:bold;
        }
.sale-img {
    background-image:url("/Hero-img/chee-3.jpg");
    background-size:cover;
    padding-top: 110px;
    padding-bottom: 100px;
}
.sale-head {
  font-size:40px;
}
.sale-para {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color:#051922;
}
.sale-num {
    font-size:50px;
}
 .chri-2 {
    width:100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:200px;
 }
 .news-main {
    font-family: 'Brygada 1918', serif;
    font-size:40px;
    font-weight:700;
    color:#000; 
 }
 .news-head {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color:#051922;  
 }
 .news-para {
    color:#555;
    font-family: "Poppins", sans-serif;
    font-size:14px;
 }
 .news-read {
    color:#F28123;
    font-weight:700;
    margin-top:15px;
 }
 .news-style {
    color:#F28123;
    font-size: 40px;
 }
.logo-img {
    width:225px;
}
.about {
    background-color:#051922;
    padding-top:120px;
    padding-bottom: 120px;
}
.about-main {
    font-family: "Poppins", sans-serif;
    font-size:20px;
    color:#fff;
    padding-bottom:20px;

}
.about-un {
    font-family: "Poppins", sans-serif;
    font-size:15px;
    color:#999;
    list-style:none;
    padding:0px;
    margin-bottom:20px;
 }
.copy {
    background-color: #051922;
    border:1px solid#232a35;
    padding-top: 30px;
}
.copy-style {
    color:#f28123;
    font-weight:700;
}
.copy-para {
    font-family: "Poppins", sans-serif;
    font-size:15px;
    color:#999;
    padding: 10px 0px;
    text-align: left;
}
.about-para {
    font-family: "Poppins", sans-serif;
    font-size:15px;
    color:#999;
    padding-top: 10px;
}
.about h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: #F28123;
    content: "";
}
.about h1 {
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    color: #fff;
}
 
@media only screen and (max-width: 600px) {
    .copy-para{
        text-align: center;
    }
    .copy gap{
        justify-content: center !important;
    }
   
  }
@media only screen and (min-width: 767px) {
    .copy .row
    {
        justify-content: space-between !important;
    }
    .clip {
        margin-bottom: 50px;
    }
}